{% extends 'base.html' %}
{% block title  %} Agregar Productos {% endblock %}
{% block content %}
<div class="row">
	<div class="span6">
	<form action="." method="POST" enctype="multipart/form-data"><!--CON EL enctype especificamos que se envie archivos  multimedia-->
		{% if informacion == 'Ingrese sus productos' %}
			<div class="alert alert-info">
				{{ informacion }}
			</div>
		{% elif informacion == 'Se guardo sastisfactoriamente..!' %}
			<div class="alert alert-success">
				{{ informacion }}
			</div>
		{% else %}
			<div class="alert alert-error">
				{{ informacion }}
			</div>
		{% endif %}
		<!--<span class="label"><h3>Agrege productos</h3></span>-->
		{% csrf_token %}
		{{ form.as_p }}
			<button class="btn btn-primary" type="submit">Guardar</button>
			<button class="btn btn-success" type="submit">Limpiar</button>
			<a href="/productos/page/1" class="btn btn-inverse">Regresar a la lista de productos</a>
	</form>
	</div>
	<div class="span5">
		<img src="/media/{{producto.imagen}}"/>
		
	</div>
</div>
{% endblock %}
</body>
</html>