{% extends 'base.html' %}
{% block title %} Producto {{ producto.nombre }} {% endblock %}
{% block content %}
<h1> {{ producto.nombre }} </h1>
<img src="/media/{{ producto.imagen }}" width="150px" height="150px">
<p> {{ producto.nombre }} </p>
<p> {{ producto.descripcion }} </p>
<p> Bs.F: {{ producto.precio }} </p>
<p> Cantidad de existencia: {{ producto.stock }} <b>Unidades</b></p>
<br>
<h5>Categorias:</h5>
{% for cat in categorias %}
	<span class="label label-info">{{cat.nombre}}</span>
{% endfor %}
<br><br>
{% if producto.stock > 0 %}
	<a href="#" class="btn btn-primary">Comprar Producto</a>
{% endif %}
<a href="javascript:window.history.go(-1)" class="btn btn-primary">Regresar a Productos</a>
{% endblock %}
